{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Página de acesso ao sistema {% endblock %}

{% block main %}


    <div class="container"  style="margin-top: 25px">
      <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
          <form method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-info">Login</button>
          </form>
        </div>
        <div class="col-sm">

        </div>
      </div>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
          <span class="text-muted">teste</span>
        </div>
      </footer>
{% endblock %}







