{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} GCC || Cadastro/ Atualização {% endblock %}

{% block main %}

    <h1>Novo/Atualização de cadastros</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form| bootstrap }}
        <button type="submit" class="btn btn-info">Salvar</button>
    </form>

    {% if candidatos %}
        <p></p>
        <a href="{% url 'deletar_curriculos' candidatos.id %}" class="btn btn-danger">Deletar</a>
    {% endif %}


{% endblock %}