{% extends 'base.html' %}

{% block title %}Currículos {% endblock %}

{% block main %}

    <h1>Listagem de currículos cadastrados</h1>
  <ul class="list-group">
        {% for candidato in candidatos %}
            <li class="list-group-item">
                <a href="{% url 'atualizar_curriculos' candidato.id %}">{{ candidato.nome }}</a>
            </li>

        {% endfor %}
    </ul>
    <a href="{% url 'novo_curriculos' %}" class="btn btn-primary">Novo Cadastro</a>
    <p></p>
    <a href="{% url 'logout' %}" class="btn btn-dark">Sair</a>

{% endblock%}






